.App {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0b0e14;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.content-wrapper {
  width: 100%;
  min-height: calc(100vh - 120px); /* Adjust based on your header height */
}

/* Ensure the motion div takes up full space */
.content-wrapper > div {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  /* This ensures the content stays centered regardless of the slide */
  /* display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; */
}
