.header-wrapper {
  // background-color: #0b0e14;
  // background-color: red;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-container {
    margin-bottom: 20px;

    .header-logo {
      height: 20rem;
      width: auto;
      filter: drop-shadow(0 0 10px rgba(0, 206, 209, 0.3));
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .header-container {
    display: flex;
  }

  .nav-wrapper {
    width: 100%;
    // max-width: 600px;
  }
}
